body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #f46b45 10%, #eea849 90%)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
    line-height: 40px;
}

ul li:nth-child(2n) {
    background: #fff;
}

h1 {
    background: #2980b9;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus {
    float: right;
}

.container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

input[type="text"] {
    font-size: 18px;
    width: 100%;
    padding: 13px 13px;
    outline: none;
    box-sizing: border-box;
    color: #2980b9;
}

.completed {
    color: gray;
    text-decoration: line-through
}

.bin {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #fff;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1;
}