body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #75737f;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
}

a:hover{
  text-decoration: none;
  color:#fa6f1c;
}
h2 {
  font-size: 24px;
  letter-spacing: 1.2px;
  color:#27262c;
}

h3 { /*Section title*/
  font-size: 18px;
  font-weight: 900;
  color: #000;
}
h3::after {
  content: '';
  display: block;
  width: 46px;
  height: 1px;
  background-color: #fa6f1c;
  margin: 16px 0 35px;
}

h4 {
  font-size: 14px;
  letter-spacing: 1.4px;
}
h1, h2, h3, h4{
  text-transform: uppercase;
  font-weight: bold;
}
h5{
  text-transform: uppercase;
}
section {
  margin: 60px auto;
}
.text-color{
  color: #fa6f1c;
}

.button{
  padding: 10px 15px;
  border: 2px solid #fa6f1c;
  color:  #fa6f1c;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color .3s;
}

.button:hover{
  background-color:#fa6f1c;
  color: #fff;
}
ul {
  list-style-type: none;
}

/* Slider Style 1 with Cotrol box */

.section-slideStyle_1-heading {
  float: left;
}
.section-slideStyle_1-heading h3{
  margin-top: 0px;
}
.control-box {
  text-align: right;
}
.control-box-prev {
  display: inline-block;
  width: 39px;
  height: 36px;
  border: 1px solid black;
  text-align: center;
  padding-top: 6px;
}
.control-box-next {
  display: inline-block;
  width: 39px;
  height: 36px;
  border: 1px solid black;
  text-align: center;
  border-left: 0px;
  margin-left: -3px;
  padding-top: 6px;
}

/*************************************************
                      header
*************************************************/
.top-bar{
  background-color: #fbfbfb;
  border-bottom: 1px solid #edebf5;
  height: 44px;
  color: #5b5965;
}
.top-bar-row{
  margin: auto;
  max-width: 1200px;
}
.top-bar-row-contact{
  float: left;
  margin: 0;
  font-size: 14px;
  line-height: 40px;
  padding-top: 4px;
  color: #27262c;
}
.top-bar-row-contact i{
  vertical-align: middle;
  font-size: 18px;
  margin: 0 7px 0 0;
}
.social{
  float: right;
}
.social li{
  display: inline-block;
  list-style-type: none;
}
.social-icon {
  display: inline-block;
  line-height:40px;
  width: 50px;
  border-left: 1px solid #edebf5;
  font-size: 18px;
  color: #7b7983;
  text-align: center;
  margin-left: -3px;
}
.donate-btn{
  display: inline-block;
  background-color: #fa6f1c;
  line-height:40px;
  width: 122px;
  transition: background-color .3s;
  text-align: center;
  margin-left: -3px;
}
.donate-btn:hover{
  background-color: #000;
}
.donate-btn{
  color:#fff;
  font-size:14px;
}
@media screen and (max-width:1023px){
  .top-bar-row{
    margin: 0 20px;
  }
}

/**********  nav  *********/

nav {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 0;
}
.logo{
  float: left;
  display: inline-block;
}
.logo img{
  width: 30%;
}
.foundation{
  line-height: 20px;
  padding: 0 15px;
  border-left: 1px solid #eaeaeb;
  margin-left: 15px;
}
.nav-menu{
  padding-top: 10px;
  float: right;
}
.nav-menu li{
  list-style-type: none;
  display: inline-block;
}
nav li a{
  margin-right:20px;
  color:#000;
  font-weight: bold;
}
nav a#pull {
  display: none;
}

/* sub-menu dropdown */
.main-menu{
  position: relative;
}
.sub-menu{
  display: none;
  background: #27262c;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 26px 0 30px 0;
  width: 240px;
  z-index:1;
}
.sub-menu a{
  color: #fff;
}
.sub-menu li{
  padding-bottom: 20px;
}
.sub-menu li:last-child {
  padding-bottom: 0px;
}
.main-menu:hover .sub-menu{
  display: block;
}
.sub-menu a:hover{
  color: #fa6f1c;
}

/*****nav hamburger bar*****/
@media screen and (max-width:1023px){
  nav {
    margin: 0 20px;
    padding: 20px 0 0 0;
  }
  nav ul {
    display: none;
  }
  nav a#pull {
    display: block;
    font-size: 30px;
    text-align: right;
  }
  nav ul {
    padding: 0;
    width: 100%;
  }
  nav ul li {
    display: block;
    float: left;
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #f0eeee;
  }
  .nav-menu{
    float: none;
    padding-bottom: 0;
  }
  .main-menu:hover .sub-menu{
    display: none;
  }
}

/****************  slider  *******************/
.slider{
  margin-top: 22px;
  margin-bottom: 65px;
}
.carousel-control-color{
  transition: color .2s;
}
.carousel-control-color:hover{
  color: #fa6f1c;
}


/*************************************************
                  section-news
*************************************************/
section .news{
  margin:auto;
  margin-bottom: 60px;
}

/*********   News-slider    ********/

.news-slider{
  margin-bottom: 40px;
}
.news-slider img {
  float: left;
  margin-right: 30px;
}
.news-slider h4{
  margin-top: 0px;
  margin-bottom: 25px;
}
.news-slider .news-icon {
  margin-bottom: 13px;
}
.news-slider .news-icon p{
  display: inline;
  margin-right: 20px;
}
.news-slider .news-icon i{
  margin-right: 8px;
}
.news-slider .news-description{
  margin-bottom: 30px;
}

/*********   latest-news    ********/

.latest-news{
  margin-top: 40px;
}
.latest-news-heading{
  margin-bottom: 40px;
}
.latest-news-heading h4::after{
    content: '';
    position: relative;
    top: 11px;
    display: block;
    overflow: hidden;
    height: 1px;
    background: #dddbe8;
}
.latest-news img{
  float: left;
  margin-right: 20px;
  vertical-align: middle;
  height: 100%;
}
.latest-news-description{
  padding-bottom: 30px;
}
.latest-news-description h4{
  margin-top: 0;
  margin-bottom: 30px;
}

/*************************************************
                  section-causes
*************************************************/
.causes-heading{
  text-align: center;
  margin-bottom: 50px;
}
.causes img{
  margin-bottom: 20px;
  position: relative;
  transform-style: preserve-3d;
}
.urgent{
  position: absolute;
  top:15px;
  right: 20px;
  background-color: #fff;
  padding: 3px 13px;
  font-size: 12px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-weight: bold;
  color:#27262c;
}
.cause img:hover{

}
.progress-bar{
  color:black;
}
.causes-description{
  margin-bottom: 20px;
}
.progress-description{
  letter-spacing: 0.1em;
}

/*************************************************
                  section-about us
*************************************************/
.aboutUs {
  background-color: #27262c;
  margin: 40px 0;
}
.aboutUs-slider{
  margin:0;
  padding: 0;
}
.aboutUs-description{
  margin:auto;
  padding: 35px 15px;
  color:#a6a6a9;
}
.aboutUs-description h2, .aboutUs-description h4{
  color:#fff;
}
.aboutUs-description h2::after{
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  margin: 19px 0 35px;
  background: #fa6f1c;
}
.aboutUs-description-body{
  margin-bottom: 30px;
}
.aboutUs-description-foot{
  display:inline-block; /*안하면 간격이 벌어짐*/
  text-align: center;
}
.aboutUs-description-foot .learnMore{
  float: left;
  width: 172px;
  text-align: center;
}
.aboutUs-description-foot .seperator{ /* OR */
  display: inline-block; /*안하면 간격이 좁아짐??*/
  vertical-align: middle;
  width: 70px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color:#fff;
}
.aboutUs-description-foot .contact{
  display: inline-block;
  text-align: left;
}
.aboutUs-description-foot .contact span{
  display: block; /*이걸 해야 얘가 block으로 적용돼서 a가 다음 라인으로 넘어감*/
  color:#fff;
}
.aboutUs-description-foot .contact a{
  color:#fa6f1c;
  text-transform: uppercase;
}

/*************************************************
                  section - Our Staff
*************************************************/
.our-staff-heading {
  display: inline-block;
}
.our-staff-body img{
  padding: 0;
  height: 248px;
  width: auto;
}
.our-staff-body ul{
  padding-left: 0px;
}
.our-staff-body li{
}
.staff-description{
  border: 1px solid #edebf5;
  margin: 0px;
  height: 248px;
}
.staff-description-inner{
  margin: 0 auto;
  padding: 0 30px;
}
.staff-description {
  text-align: center;
}
.staff-description h5{
  text-align: center;
  color: #27262c;
  font-weight: 700;
}
.staff-description h6{
  font-weight: 700;
}
.our-staff-social::before{
  content: '';
  background: #fa6f1c;
  display: block;
  width: 46px;
  height: 1px;
  margin: 32px auto 10px;
}
.our-staff-social i{
  color: #27262c;
  padding: 0 7px;
}
.our-staff-social ul{
  padding-left: 0px;
}
.our-staff-social ul{
  display: inline-block;
}
.our-staff-social li{
  display: inline-block;
}

/*************************************************
              section - Testimonials
*************************************************/
.testimonials{
  text-align: center;
}
.testimonials-image{
  margin-bottom: 20px;
}
.testimonials-image i{
  color: #fa6f1c;
}
.testimonials-image::before, .testimonials-image::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 1px;
  margin: 0 6px;
  background: #fa6f1c;
}
.testimonials-body {
  background-color: #fa6f1c;
  padding: 60px 0 41px 0;
  color:#fff;
}
.testimonials-body p{

}
.testimonials-body p::after{
  content: '';
  display: block;
  width: 170px;
  height: 1px;
  margin: 28px auto 25px;
  background-color: #de6218;

}

/*************************************************
              section - upcomingEvents
*************************************************/
.upcomingEvents{

}
.upcomingEvents-heading{
  float: left;
}
.upcomingEvents-header h3{
  margin-top: 0;
}
.upcomingEvents-viewAll{
  float: right;
}
.upcomingEvents .column{
}
.upcomingEvents img{

}


/*************************************************
                      footer
*************************************************/

/*********   footer-header    ********/

.footer-header{
  margin-top: 40px;
  background-color: #000;
  padding: 43px 0;
}
.footer-header .row{
  margin: 0 auto;
}
.footer-header h2{
  margin-top: 0px;
  color: #fff;
}
.footer-header-heading{
  padding: 0 0 0 15px;
}

@media(max-width: 1199px){
  .footer-header-heading
  {
      text-align:center;
  }
}

.footer-header-btns{
  text-align: center;
  margin: auto;
  padding: 18px 0 0 0;
  vertical-align: middle;
}

@media(max-width: 1199px){
  .footer-header-btns
  {
      text-align:center;
  }
}

.footer-header-btns-seperator span{
  display: inline-block;
  background-color: #54525e;
  color: #fff;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  text-align: center;
}
.footer-header-btns-seperator::before, .footer-header-btns-seperator::after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 1px;
  background-color: #54525e;
  margin: -3px;
  padding: 0px;
}

/*********   footer-body    ********/
.footer-body{
  background-color: #27262c;
  background-image: url("http://themes.wplook.com/charity/wp-content/themes/charity-wpl/assets/images/footer-bg.png");
}
.footer-body-inner {
  margin: auto;
  padding: 85px 0;
}
.footer-body-inner h4 {
  font-weight: 900;
  color: #fff;
}
.footer-body-inner h4::after{
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  margin: 19px 0 35px;
  background: #fa6f1c;
}
.footer-body-inner p{
  color: #a6a6a9;
}
.column-1, .column-2, .column-3, .column-4{
  padding-bottom: 40px;
}
.footer-body .column-2 ul{
  padding-right: 0px;
}
.footer-body .column-2 .second-ul{
  padding-left: 0px;
}
.footer-body .column-2 li{
  padding: 6px 0;
}
.footer-body .column-2 a:hover{
  color: #fa6f1c;
}
.footer-body .column-2 a{
  color: #75737f;
  text-transform: uppercase;
}
.footer-body .column-2 a::before{
  content: '\f105';
  display: inline-block;
  font-size: 14px;
  font-family: FontAwesome;
  margin: -1px 10px -1px 0;
}
.footer-body .column-3 p{
  margin-bottom: 30px;
}
.footer-body .column-3 .input-email{
  padding: 0 18px;
  height: 40px;
  border: 0px;
}
.footer-body .column-3 .submit {
  height: 40px;
  width: 50px;
  background-color: #fa6f1c;
  color: #fff;
  border: 0px;
  margin: -2px;
}
.footer-body .column-4 i, .footer-body .column-4 strong {
  color:#fff;
}
.footer-body .column-4 i{
  padding-right: 7px;
}
.footer-body .column-4 .contact {
  margin-top: 30px;
}
.footer-body .column-4 .contact div{
  margin-bottom: 14px;
}


/*********   footer-foot   ********/
.footer-foot {
  background-color: #222126;
}
.footer-foot-inner {
  padding: 20px 0;
}
.footer-foot-inner p{
  display: inline-block;
  float: left;
}
.footer-foot-inner a{
  color:#fff;
}
.footer-social{
  float: right;
  display: inline-block;
}
.footer-social li{
  display: inline-block;
}
.footer-social i{
  font-size: 18px;
  color: #a6a6a9;
  padding-right: 20px;
}


/*************************************************
*************************************************

                  causes.html

*************************************************
*************************************************/

/*************************************************
                      main
*************************************************/

.main {
  background-color: #dfd5cc;
  height: 210px;
  margin: 20px 0;
}
.main .main-inner{
  max-width: 1200px;
  margin: auto;
}
.main .main-heading{
  padding-top: 40px;
}
.main .main-heading h2{
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}
.main .box{
  background-color: #fff;
  padding: 14px 20px;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1.2px;
}
.main .box a{
  color: #fa6f1c;
  font-weight:
}
/*************************************************
                    section
*************************************************/
.section {
 margin: auto;
}
section {
  padding-right: 40px;
}

/*************************************************
                      aside
*************************************************/
aside {
  border-left: 1px solid #e8e6e7;
  padding: 67px 0px;
  margin: 0px;
}
.aside-1{
  margin-bottom: 48px;
}
.aside-1 h3{
  float: none;
}
.aside-1-list ul{
  padding-left: 0px;
}
.aside-1-list li{
  margin-bottom: 22px;
}
.aside-1-list a{
  color: #75737f;
  text-transform: uppercase;
  font-weight: bold;
}
.aside-1-list a::before{
  content: '\f105';
  display: inline-block;
  font-size: 14px;
  font-family: FontAwesome;
  margin: -1px 10px -1px 0;
}
.aside-1-list a:hover{
  color:#fa6f1c;
}
.aside-2 img {
  transition: background-color .2s ease-out;
}
.aside-2 img:hover{
  background-color: rgba( 250, 111, 28, 0.83);
}
.indicator-square{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #cbcbcf;
  margin: 0 5px 0 0;
  cursor:pointer;
}
.aside-3 {
  margin-top: 40px;
}
